<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a >Home</a></li>
    <li class="breadcrumb-item"><a href=""></a>alunos</li>
    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
  </ol>
</nav>


<h1>{{title}}</h1>


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{aluno.nome}}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Matricula: </strong>  {{aluno.matricula}}</li>
        <li class="list-group-item"><strong>E-mail: </strong>     {{aluno.email}} </li>
        <li class="list-group-item"> <strong>Data de Nacimento: </strong>  {{aluno.data_nascimento}}</li>
    </ul>
    <div class="card-body">
        <a href="/alunos/edit/{{aluno.matricula}}" class="btn btn-outline-primary" type="bottom">Editar<i class="bi bi-pencil-square"></i></a>

        <form action="/alunos/{{aluno.matricula}}" method="POST">
        <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class=" btn btn-danger" id="submit" value="">
            Deletar Aluno
            <i class="bi bi-trash"></i>
          </button>
        </form>
    </div>
</div>