<h1>{{title}}</h1>


<form action="">
<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">Nome do Aluno</label>
    <input type="text" class="form-control" id="formGroupExampleInput" value="{{aluno.nome}}" >
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Matricula do aluno </label>
    <input type="text" class="form-control" id="formGroupExampleInput2" value="{{aluno.matricula}}" >
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Data de Nacimento </label>
    <input type="text" class="form-control" id="formGroupExampleInput2" value="{{aluno.data_nascimento}}" >
</div>
<div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">e-mail aluno</label>
    <input type="text" class="form-control" id="formGroupExampleInput2"  value="{{aluno.email}}">
</div>
<input type="submit" name="submit" id="submit" value="{{bottonText}} Adicionar Aluno">
</form>

