<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a>Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
  </ol>
</nav>


<h1>{{title}}</h1>





<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">matricula</th>
      <th scope="col">data_nascimento</th>
      <th scope="col">E-mail</th>
    </tr>
    
  </thead>
  <tbody>
    {{#each alunos.content}}
    <tr>
      <th scope="row"></th>
      <td><a href="/alunos/{{matricula}}">{{nome}}</a></td>
      <td>{{matricula}}</td>
      <td>{{data_nascimento}}</td>
      <td>{{email}}</td>
      <td><a href="/alunos/edit/{{matricula}}">editar</a></td>
    </tr>
    <tr>
        
    </tr>
  
  </tbody>
  {{/each}}
</table>

<a class="btn btn-outline-primary" href="/alunos/new"><i class="bi bi-person-add">novo aluno</i></a>
